<launch>
    <arg name="points_parent_src" default="/livox/lidar_192_168_1_139" />
    <arg name="points_child_src" default="/livox/lidar_192_168_1_118" />
    <arg
        name="init_params_file_path"
        default="$(find-pkg-share multi_lidar_calibrator)/cfg/child_topic_list" />
    <arg name="voxel_size" default="0.1" />
    <arg name="ndt_epsilon" default="0.1" />
    <arg name="ndt_step_size" default="0.1" />
    <arg name="ndt_resolution" default="0.5" />
    <arg name="ndt_iterations" default="100" />

    <node
        pkg="multi_lidar_calibrator"
        exec="multi_lidar_calibrator"
        name="lidar_calibrator"
        output="screen">
        <param name="points_parent_src" value="$(var points_parent_src)" />
        <param name="points_child_src" value="$(var points_child_src)" />
        <param name="init_params_file_path" value="$(var init_params_file_path)" />
        <param name="voxel_size" value="$(var voxel_size)" />
        <param name="ndt_epsilon" value="$(var ndt_epsilon)" />
        <param name="ndt_step_size" value="$(var ndt_step_size)" />
        <param name="ndt_resolution" value="$(var ndt_resolution)" />
        <param name="ndt_iterations" value="$(var ndt_iterations)" />
    </node>
</launch>
