<launch>
  <node
      pkg="tf2_ros"
      exec="static_transform_publisher"
      name="fl_fh"
      args="--x 0.047514 --y -1.61584 --z -1.10422 --yaw 0.0154157 --pitch 0.00829276 --roll 0.00490281 --frame-id fh --child-frame-id fl">
    <param name="use_sim_time" value="true" />
  </node>

  <node
      pkg="tf2_ros"
      exec="static_transform_publisher"
      name="lf_fh"
      args="--x 1.00785 --y -0.443069 --z -0.471545 --yaw -0.0816414 --pitch 0.0717998 --roll 1.36427 --frame-id fh --child-frame-id lf">
    <param name="use_sim_time" value="true" />
  </node>

  <node
      pkg="tf2_ros"
      exec="static_transform_publisher"
      name="rf_fh"
      args="--x -0.993104 --y -0.465174 --z -0.470066 --yaw 3.06347 --pitch 3.1134 --roll 1.68516 --frame-id fh --child-frame-id rf">
    <param name="use_sim_time" value="true" />
  </node>

  <node
      pkg="tf2_ros"
      exec="static_transform_publisher"
      name="lr_fh"
      args="--x 0.814268 --y 3.60834 --z -1.09568 --yaw -0.00206728 --pitch -0.0096379 --roll 1.53946 --frame-id fh --child-frame-id lr">
    <param name="use_sim_time" value="true" />
  </node>

  <node
      pkg="tf2_ros"
      exec="static_transform_publisher"
      name="rr_fh"
      args="--x -0.993823 --y 3.63243 --z -1.06587 --yaw 3.13014 --pitch 3.12154 --roll 1.61811 --frame-id fh --child-frame-id rr">
    <param name="use_sim_time" value="true" />
  </node>

</launch>
